{% extends 'layout.html' %}

{% block body %}
  <h1>About Us</h1>
  <hr>
  <h4><u>CRUD Flask App SEN 108 Class</u></h4>
  <p>I am a highly motivated and dedicated student pursuing a degree in Software Engineering at Veritas University Abuja.
      With a strong foundation in computer science and a passion for innovation, I am excited to apply my skills and knowledge to real-world problems.
      I am a Software Engineering student, a passionate individual with a knack for building innovative and creative solutions. I possess a diverse set of skills across various aspects of life, including backend development, web and mobile design, and more.
      <img src="q-4/pepe.jpg" alt="Profile or work image" class="small_size" />
  <hr>
  <h4><u>OUR PROJECTS</u></h4>
  <p>We have worked on numerous projects ranging from:</p>
  <ul>
    <li>pyth flask crud application</li>
    <li>terminal based python quiz program</li>
    <li>to-do list using python</li>
    <li>A WEB-based java-fx application</li>
    <li>a simple HTML and css applicatiom</li>
    <li>mysql-connector-python-8.0.13 for python database used in this projecct (<a href="https://dev.mysql.com/downloads/connector/python/">Download link</a>)</li>
  </ul>

  <hr>
  <h4><u>to run a python application</u></h4>
  <p>python app.py</p>

{% endblock %}